.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  color: var(--foreground);
  min-width: 16rem;
  max-width: 16rem;
  margin-left: auto;
  margin-right: auto;
}

.form :global(input) {
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 1.5rem;
  font-weight: 500;
}

.subtext {
  font-size: 0.875rem;
  color: var(--secondary-foreground);
}

.link {
  color: var(--primary);
  text-decoration: underline;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}

.inputGroup :global(input) {
  margin-bottom: 0.75rem;
}
